.pseudo-h3 {
  font-family: var(--ignite-font);
  font-size: 1.625em;
  font-weight: 600;
  line-height: 1.85;
  margin-bottom: 0;
}

.home-page .post-content ul {
  list-style: none;
  padding-left: 1em;
}

.home-page .post-content ul li {
  padding-left: 1.5em;
  text-indent: -1.5em;
  margin-bottom: 0.4em;
}
